<div c id="back">
  <% if params[:print] %>
    <%= link_to "Back to Print List", print_path %>
  <% elsif params[:lastname] %>
    <%= link_to "Back to List", list_path(lastname: params.fetch(:lastname, nil)) || start_path %>
  <% else %>
    <%= link_to "Start Over", start_path %>
  <% end %>
</div>

<%= render partial: 'badge', locals: { graduate: @graduate, currentpage: "show" } %>



